
<{{ wrapper_element }} {{ attributes }}>
  <div class="field-group-wrapper">
  {% if title %}
  <{{ title_element }}{{ title_attributes }}>{{ title }}</{{ title_element }}>
  {% endif %}
  {% if collapsible %}
  {% endif %}
  {{element.title}}
  {% if collapsible %}
  </div>
  {% endif %}
</{{ wrapper_element }}>
